@import "variables";

$size: 20px;

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;

  background: $colorWhite;
  border: $borderWidth solid $colorWhiteDark;
  box-shadow: inset $boxShadowText;
  box-sizing: border-box;
  height: $size;
  margin: 2px $marginLittle 0 0;
  transition: background-color .3s;
  vertical-align: top;
  width: $size;

  &:focus,
  &:hover {
    cursor: pointer;
  }

  &:not(:disabled) {
    &:focus,
    &:hover {
      border-color: $colorBlue;
    }
  }

  &:checked {
    background: $colorGreen;
    border-color: $colorWhiteDark;

    &:focus,
    &:hover {
      background: $colorBlue;
      border-color: $colorWhiteDark;
    }
  }

  &:disabled {
    cursor: default;
    opacity: $formElementDisableOpacity;

    &:checked {
      background: $colorGreyWhite;
    }
  }
}

input[type="radio"] {
  border-radius: 50%;
}
