$colorWhite: #fff;
$colorWhiteGrey: #eee;
$colorWhiteDark: #ddd;

$colorGrey: #777;
$colorGreyDark: #333;
$colorGreyWhite: #bbb;

$colorGreen: #1b1;
$colorGreenDark: #191;

$colorBlue: #19f;
$colorBlue2: #17d;
$colorBlue3: #15b;

$colorRedWhite: #d11;
$colorRed: #b11;
$colorRedDark: #911;

$colorYellow: #fe1;
$colorYellowDark: #dc1;

$colorBackground: #efefef;
$colorText: #111;
$colorLink: #17f;
