@import "variables";

$borderColorButtonRGBA: rgba(127, 127, 127, .1);
$borderColorTextRGBA: rgba(127, 127, 127, .2);

$borderRadius: 3px;
$borderWidth: 2px;

$boxShadowButton: 0 2px 3px rgba(127, 127, 127, .1);
$boxShadowText: 0 1px 3px rgba(0, 0, 0, .5);

$size: 20px;

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;

  background: $colorWhite;
  border: $borderRadius solid $colorWhiteDark;
  box-shadow: inset $boxShadowText;
  box-sizing: border-box;
  height: $size;
  margin: 2px $marginLittle 0 0;
  transition: background-color .3s;
  vertical-align: top;
  width: $size;

  &:not(:disabled) {
    &:focus,
    &:hover {
      background: $colorBlue;
      cursor: pointer;
    }
  }

  &:checked {
    background: $colorGreen;
    border-color: $colorWhiteDark;
  }

  &:disabled {
    background: $colorWhiteDark;
    border-color: $borderColorButtonRGBA;
    cursor: default;

    &:checked {
      background: $colorGreyWhite;
    }
  }
}

a.button,
button,
input,
label.button,
textarea {
  border-radius: $borderRadius;
}

/*input[type="checkbox"] {
  border-radius: $borderRadius;
}*/

input[type="radio"] {
  border-radius: 50%;
}





a.button,
button,
//button#radio,
input[type="button"],
input[type="password"],
input[type="submit"],
input[type="text"],
textarea {
  font-size: $fontSize;
}

label.button {
  display: inline-block;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  background: $colorWhite;
  border: $borderWidth solid $borderColorTextRGBA;
  box-shadow: inset $boxShadowText;
  color: $colorText;
  padding: 4px;
  transition: border-color .3s, color .3s;
  width: 140px;

  &:not(:read-only),
  &:not(:disabled ) {
    &:focus,
    &:hover {
      background: $colorWhite;
      border: $borderWidth solid $colorBlue2;
      color: $colorBlue3;
    }
  }

  &:disabled {
    background: $colorWhiteDark;
    border-color: $borderColorTextRGBA;
    color: $colorGrey;
  }

  &:read-only {
    color: $colorGrey;
  }
}

input[type="password"] {
  letter-spacing: 4px;
  padding-left: 8px;
  padding-right: 2px;
}

/*input[type="number"],
input[type="password"],
input[type="text"],
textarea {
}*/


a.button,
button,
input[type="button"],
input[type="submit"],
label.button {
  -webkit-appearance: none;

  background: $colorGreen;
  //border: $borderWidth solid $colorGreenDark;
  border: $borderWidth solid $borderColorButtonRGBA;
  box-shadow: $boxShadowButton;
  color: $colorWhiteGrey;
  cursor: pointer;
  line-height: $fontSize;
  padding: 4px 12px;
  transition: background-color .3s, border-color .3s, color .3s;

  &:not(:disabled) {
    &:focus,
    &:hover {
      background: $colorBlue;
      border-color: $colorBlue2;
      color: $colorWhite;
    }
  }

  &:disabled {
    background: $colorWhiteDark;
    border-color: $borderColorButtonRGBA;
    box-shadow: none;
    color: $colorGreyWhite;
    cursor: default;
  }
}

input[type="file"] {
  display: none;
}

/*a.button,
button,
input[type="button"],
input[type="submit"],
label.button {
}*/

textarea {
  height: 100px;
  line-height: 20px;
  resize: none;
}

.exit,
.grey,
label.button {
  padding: 4px 8px;
}

.exit {
  background: $colorRed;
  border: $borderWidth solid $colorRedDark;

  &:not(:disabled) {
    &:focus,
    &:hover {
      background: $colorRedWhite;
      border-color: $colorRed;
    }
  }
}

.grey,
label.button {
  background: $colorWhiteDark;
  border-color: $borderColorButtonRGBA;
  color: $colorGreyDark;

  &:not(:disabled) {
    &:focus,
    &:hover {
      background: $colorYellow;
      border-color: $borderColorButtonRGBA;
      color: $colorGreyDark;
    }
  }
}
