@import "variables";

input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  background: $colorWhite;
  border: $borderWidth solid $borderColorTextRGBA;
  box-shadow: inset $boxShadowText;
  color: $colorText;
  height: $formElementHeight;
  line-height: $fontHeight;
  padding: 0 4px;
  transition: border-color .3s, color .3s;
  width: 140px;

  &:not(:read-only),
  &:not(:disabled ) {
    &:focus,
    &:hover {
      background: $colorWhite;
      border: $borderWidth solid $colorBlue2;
      color: $colorBlue3;
    }
  }

  &:disabled {
    color: $colorGrey;
    opacity: $formElementDisableOpacity;
  }
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  box-sizing: border-box;

  &:read-only {
    color: $colorGrey;
  }
}

input[type="password"] {
  letter-spacing: 4px;
  padding-left: 8px;
  padding-right: 2px;
}

select {
  padding: 0 16px 0 2px;
}

textarea {
  height: 100px;
  resize: none;
  vertical-align: top;
}
