$colorWhite: #fff;
$colorWhiteGrey: #eee;
$colorGrey: #777;

$colorGreen: #1b1;
$colorBlue: #19f;

$fontFamily: Ubuntu, Roboto, 'Roboto Regular', sans-serif;
$fontHeight: 24px;
$fontSize: 14px;

$font: 400 #{$fontSize}/#{$fontHeight} $fontFamily;

$margin: 10px;

* {
  outline: none;
}

html, body {

}

body {
  margin: $margin;
}

$sizes:
  'h1' 28px 38px,
  'h2' 24px 34px,
  'h3' 18px 28px,
  'h4' 14px 24px,
  'h5' 12px 22px,
  'h6' 10px 20px;

@each $name, $size, $height in $sizes {
  #{$name} {
    font-size: $size;
    line-height: $height;
  }
}

@import "forms";
