/*! A 0.0.4 */

@import "fonts";
@import 'variables';

* {
  outline: none;
}

a {
  &:active,
  &:link,
  &:visited {
    color: $colorLink;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

body {
  background: $colorBackground;
  color: $colorText;
  font: $font;
  margin: $margin;
}

br {
}

iframe {
  border: 0;
}

p {
  line-height: $fontHeight;
  margin: $margin 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  label {
    display: inline-block;
  }
}

td {
  vertical-align: top;
}

$sizes: h1 28px 28px,
h2 24px 24px,
h3 18px 18px,
h4 14px 14px,
h5 12px 12px,
h6 10px 10px;

@each $name, $size, $height in $sizes {
  #{$name} {
    font-size: $size;
    line-height: $height;
    margin: $margin 0;
  }
}

@import "div";

@import "forms";
@import "button";
@import "checkboxRadio";
@import "file";
@import "text";

@import "table";
@import "loading";
@import "helpers";


/*.loading, .loading:focus, .loading:hover {
  background: #1fbfff url(a.gif) no-repeat scroll center center !important;
  border: 1px solid #1f9fdf !important;
  color: transparent !important;
}

.loadingtext, .loadingtext:focus, .loadingtext:hover {
  background: url(b.gif) no-repeat scroll center center !important;
  color: transparent !important;
}*/
